body {
	margin:0px;
}

/* front side of widget */
/* BACKGROUND BOX */
#box_bl, #box_br, #box_tl, #box_tr {
	background:mediumseagreen;
	height:50%;
	position:absolute;
	width:50%;
	z-index:0;
}
#box_bl {
	background-position:0 100%;
	bottom:0;left:0;
}
#box_br {
	background-position:100% 100%;
	bottom:0;right:0;
}
#box_tl {
	left:0;top:0;
}
#box_tr {
	background-position:100% 0;
	right:0;top:0;
}

#content {
	position:relative;
	z-index:100;
}


/* TABLE */
#data {
	background:white;
	border:2px solid lightslategray;
	border-spacing:0;
	border-collapse:collapse;
	padding:6px;
	table-layout:fixed;
}

#data div, #data input {
	font:13px/1em monospace;
	text-align:left;
}
#data input {
	width:98px;
}

#data div {
	border:1px solid #FFF;
	cursor:default;
	min-height:15px;
	padding:5px 2px;
}
#data td {
	height:25px;
	padding:0;
}
#data td+td {
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
}
#data th+th {
	border-left:1px solid #CCC;
}

#data .colLabel, #data .corner, #data .rowLabel {
	background: lightslategray;
	font:13px/1em "Avenir", sans-serif;
	color: darkslategrey;
}
#data .colLabel {
	background-position:100% 0;
	width:100px;
}
#data .rowLabel {
	background-position: 0 100%;
	border-top:1px solid #CCC;
	text-align:center;
	width:18px;
}

#data .hilight {
	background: mintcream;
}
#data .select {
	border:1px solid darkslategrey !important;
}
#data .number {
	text-align:right;
}

#infoButton {
	position: absolute;
	bottom:0; right:0;
	height:13px;
	width:13px;
}

#inputline {
	border:1px solid #EEE;
	font-family: monospace;
	margin:0;
	padding:3px 1px;
	width:500px;  /* width of input bar */
}
#inputline:focus {
	background-color:#FFF;
	outline:0;
}

#window {
	padding:9px 13px 17px 13px;
	position:relative;
	width:500px; /* width of widget */
}

/* back side of widget */
#back {
    display:none;
}
#settings {
	background:url('Images/bg-back.png') no-repeat;
	display:block;
	height:220px;
	margin:0 auto;
	position:absolute;
	left:0px; top:0px;
	width:350px;
}
#doneButton {
	position: absolute;
	right: 21px;
	bottom: 21px;
}
#logo {
	display:block;
	margin-left:-108px;
	position:absolute;
	left:50%;top:40%;
	width:215px;
}
#logo img {
	border:none;
}